#wrapper {
    text-align: center;
}

#register-form #errors {
    display: none;
    color: red;
    width: 320px;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    background-color: #fce3e1;
}

#register-form #message {
    display: none;
    color: green;
    width: 320px;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    background-color: #cdfcbd;
}

#wrapper #register-form {
    display: inline-block;
    border-radius: 6px;
    padding: 20px 10px;
    margin-top: 50px;
    border: 2px solid #3385ff;
}

#wrapper #register-form .title {
    text-transform: uppercase;
    color: #3385ff;
    font-size: 20px;
    margin-bottom: 20px;
}

#wrapper #register-form table {
    margin-top:15px;
}

#wrapper #register-form tr td {
    text-align: right;
    padding: 5px;
}

#wrapper #register-form tr td label {
    color: #3385ff;
    font-weight: bold;
}

#wrapper #register-form tr td input {
    padding: 5px;
    font-weight: bold;
    border: 1px solid #3385ff;
    background-color: #e6f5ff;
}

#wrapper #register-form hr {
    margin: 10px 0 10px 0;
    height: 2px;
    background-color: #3385ff;
    border: none;
}

#wrapper #register-form tr td button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px 9px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3385ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}